<!DOCTYPE html>
<html>
  <head>
    <title>Printsy</title>
    <link rel="shortcut icon" type="image/png" href="https://printsy-dev.s3.us-west-1.amazonaws.com/favicon/printsy-favicon.png"/>
		<link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
		<%# <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> %>
		<meta property="og:image" content="https://i.imgur.com/aetSPaO.png" />
    <meta
      property="og:description"
      content="Full stack clone of popular e-commerce site, Etsy! Built using React/Redux, HMTL/CSS and Ruby on Rails."
    />
    <meta property="og:title" content="Printsy" />
    <meta property="og:url" content="https://printsy.herokuapp.com/#/" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
